APP_NAME=crypto-signal-api
PORT=3000

BINANCE_FUTURES_BASE_URL=https://fapi.binance.com

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=86400
REDIS_PREFIX=crypto_signal

# Database
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/crypto_signal
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=crypto_signal
DATABASE_SSL=false
