APP_NAME=crypto-signal-api
PORT=3000

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=86400
REDIS_PREFIX=crypto_signal

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=crypto_signal
